div class='flex items-center justify-center w-full h-full min-h-screen'
  div class='shadow-lg p-8 rounded-lg w-1/2 text-center'
    p That secret message has expired and has been permanently deleted.